<h2 mat-dialog-title>Add New Game</h2>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label for="id">ID</mat-label>
        <input matInput name="id" [(ngModel)]="tempId">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="title">Title</mat-label>
        <input matInput name="title" [(ngModel)]="newGame.title">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="description">Description</mat-label>
        <input matInput name="description" [(ngModel)]="newGame.description">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="creator">Creator</mat-label>
        <input matInput name="creator" [(ngModel)]="newGame.creator">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="imgURL">ImgUrl</mat-label>
        <input matInput name="imgUrl" [(ngModel)]="newGame.imgURL">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="type">Type</mat-label>
        <input matInput name="type" [(ngModel)]="newGame.type">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="tags">Tags</mat-label>
        <input matInput name="tags" [(ngModel)]="tempTags">
    </mat-form-field>
</div>
 <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="addContentFromChild()" [value]="button">{{ tempId ? "Update Game" : button }}</button>
    <button mat-raised-button color="accent" (click)="onNoClick()">Cancel</button>
</div>