:host > div.addMessage {
    position: fixed;
    bottom: 32px;
    right: 32px;
    border: 1px solid #00000099;
    padding: 16px;
    background-color: #fff;
    border-radius: 10px;
  }
  
  :host > div.addMessage div {
    margin-top: 16px;
  }