<section class="modify">
    <h3>Add Or Modify Game Item</h3>
    <mat-form-field>
        <mat-label for="id">ID</mat-label>
        <input matInput name="id" #id [(ngModel)]="idInput">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="title">Title</mat-label>
        <input matInput name="title" #title>
    </mat-form-field>
    <mat-form-field>
        <mat-label for="description">Description</mat-label>
        <input matInput name="description" #description>
    </mat-form-field>
    <mat-form-field>
        <mat-label for="creator">Creator</mat-label>
        <input matInput name="creator" #creator>
    </mat-form-field>
    <mat-form-field>
        <mat-label for="imgURL">ImgUrl</mat-label>
        <input matInput name="imgUrl" #imgURL>
    </mat-form-field>
    <mat-form-field>
        <mat-label for="type">Type</mat-label>
        <input matInput name="type" #type>
    </mat-form-field>
    <mat-form-field>
        <mat-label for="tags">Tags</mat-label>
        <input matInput name="tags" #tags>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addGame(id.value, title.value, description.value, creator.value, imgURL.value, type.value, tags.value)" [value]="button">{{ idInput ? "Update Game" : button }}</button>
</section>