<section class="modify">
    <h3>Add Or Modify Game Item</h3>

    <label for="id">ID (For Updating, Hover over first Content Card to Update Button)</label>
    <input name="id" #id [(ngModel)]="idInput">

    <label for="title">Title</label>
    <input name="title" #title>

    <label for="description">Description</label>
    <input name="description" #description>

    <label for="creator">Creator</label>
    <input name="creator" #creator>

    <label for="imgUrl">ImageURL</label>
    <input name="imgUrl" #imgURL>

    <label for="type">Type</label>
    <input name="type" #type>

    <label for="tags">Tags</label>
    <input name="tags" #tags>

    <button (click)="addGame(id.value, title.value, description.value, creator.value, imgURL.value, type.value, tags.value)" [value]="button">{{ idInput ? "Update Game" : button }}</button>
</section>